.navbar{
    position: fixed;
    width: 100%;
    color: var(--second-color);
    background-color: var(--first-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 0; left: 0;
    z-index: var(--z-tooltip);
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
}

.logo {
    font-size: var(--h2-font-size);
}

@media screen and (min-width: 1024px) {
}